#methodesIndex-IndexDense-TabIndex {
  width: 22vw;
  height: calc(80% + 20px);
  border-radius: 15px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 20px;
  padding: 20px;
  margin-right: 20px;
}

#methodesIndex-IndexDense-MS {
  width: calc(100% - 22vw - 20px);
  height: 40%;
  border-radius: 15px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 20px;
  padding: 20px;
}

#methodesIndex-IndexDense-MS p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

#methodesIndex-IndexDense-MS_Contenu {
  width: 100%;
  height: 100px;
}

#methodesIndex-IndexDense-MC {
  padding: 20px;
  width: calc(100% - 40px - 44vw);
  height: 40%;
  border-radius: 15px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 20px;
}

#methodesIndex-IndexDense-MC p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#methodesIndex-IndexDense-EXE {
  width: 22vw;
  height: calc(60% - 20px);
  border-radius: 20px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 20px;
}

#methodesIndex-IndexDense-EXE p {
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#methodesIndex-IndexDense-EXE_Contenu {
  width: calc(100% - 40px);
  height: calc(100% - 70px - 3.44vw);
  padding: 0 0 0 30px;
  overflow: hidden;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: white;
  letter-spacing: 0;
  line-height: 25px;
  margin: 20px;
  margin-bottom: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  background-image: url("../../../../../assets/img/Mode%20Nuit/exeIndicateur.png");
  background-repeat: no-repeat;
  background-size: 95% 25px;
  background-position: left bottom;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

#methodesIndex_IndexDense_creationForm {
  position: absolute;
  z-index: 3;
  right: 30px;
  bottom: 50px;
  width: 55px;
  height: 55px;
  border-radius: 20px;
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
  background-image: linear-gradient(rgba(255,255,255,0.08), rgba(255,255,255,0.08));
}

#methodesIndex_IndexDense_creationForm p {
  transition: opacity 0.5s;
  opacity: 0;
  padding: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  letter-spacing: 0;
  line-height: 25px;
  color: rgba(255,255,255,0.87);
}

#methodesIndex_IndexDense_creationForm input {
  transition: opacity 0.5s;
  opacity: 0;
  margin: 35px 20px;
  padding: 0;
  width: 250px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white;
  letter-spacing: 0;
  line-height: 25px;
  color: rgba(255,255,255,0.6);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.6);
  border-radius: 0;
}

#methodesIndex_IndexDense_creationForm input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#methodesIndex_IndexDense_creationForm input:focus {
  outline: none;
  box-shadow: none;
}

#methodesIndex_IndexDense_creationForm input::-webkit-outer-spin-button, #methodesIndex_IndexDense_creationForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#methodesIndex-IndexDense_Statistiques-Entete {
  width: 100%;
  height: 34%;
}

#methodesIndex-IndexDense_Statistiques-Entete_Tete {
  width: 23%;
  height: 100%;
  padding: 20px 0;
  background-color: #121212;
  background-image: linear-gradient(rgb(255, 255, 255, 0.04), rgb(255, 255, 255, 0.04));
  border-radius: 20px;
  margin: 0;
  margin-right: 2%;
}

#methodesIndex-IndexDense_Statistiques-Entete_Tete p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 100%;
}

#methodesIndex-IndexDense_Statistiques-Entete_Tete div {
  display: block;
  width: 100%;
  padding-top: 10px;
}

#methodesIndex-IndexDense_Statistiques-Entete_Tete div p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 75px;
  height: 75px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  box-shadow: 0px 0px 6px #7650ED;
}

#methodesIndex-IndexDense_Statistiques-Entete_Queue {
  width: 23%;
  height: 100%;
  padding: 20px 0;
  background-color: #121212;
  background-image: linear-gradient(rgb(255, 255, 255, 0.04), rgb(255, 255, 255, 0.04));
  border-radius: 20px;
  margin: 0;
  margin-right: 2%;
}

#methodesIndex-IndexDense_Statistiques-Entete_Queue p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 100%;
}

#methodesIndex-IndexDense_Statistiques-Entete_Queue div {
  display: block;
  width: 100%;
  padding-top: 10px;
}

#methodesIndex-IndexDense_Statistiques-Entete_Queue div p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 75px;
  height: 75px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  box-shadow: 0px 0px 6px#1697DD;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreBloc {
  width: calc(50% - 15px);
  height: 100%;
  padding: 20px 0;
  background-color: #121212;
  background-image: linear-gradient(rgb(255, 255, 255, 0.04), rgb(255, 255, 255, 0.04));
  border-radius: 20px;
  margin: 0;
  margin-right: 2%;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreBloc p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 100%;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreBloc div {
  display: block;
  width: 100%;
  padding-top: 10px;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreBloc div p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 75px;
  height: 75px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  box-shadow: 0px 0px 6px#71CF66;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreEnreg {
  width: calc(50% - 15px);
  height: 100%;
  padding: 20px 0;
  background-color: #121212;
  background-image: linear-gradient(rgb(255, 255, 255, 0.04), rgb(255, 255, 255, 0.04));
  border-radius: 20px;
  margin: 0;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreEnreg p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 100%;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreEnreg div {
  display: block;
  width: 100%;
  padding-top: 10px;
}

#methodesIndex-IndexDense_Statistiques-Entete_NombreEnreg div p {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  width: 75px;
  height: 75px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  box-shadow: 0px 0px 6px #CF6679;
}

#methodesIndex-IndexDense_Statistiques-LE {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 60%;
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
  border-radius: 20px;
}

