#operHautNiv-Jointure-MS1 {
  position: relative;
  width: calc((100% - 22vw - 20px)/2 - 10px - 30px);
  height: 33%;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #121212;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-right: 20px;
  padding: 20px;
}

#operHautNiv-Jointure-MS1 p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

#operHautNiv-Jointure-MS1_Contenu {
  width: 100%;
  height: calc(100% - 50px);
}

#operHautNiv-Jointure-MS2 {
  position: relative;
  width: calc((100% - 22vw - 20px)/2 - 10px + 30px);
  height: 33%;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #121212;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  padding: 20px;
}

#operHautNiv-Jointure-MS2 p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

#operHautNiv-Jointure-MS2_Contenu {
  width: 100%;
  height: calc(100% - 50px);
}

#operHautNiv-Jointure-MS3 {
  margin-right: 20px;
  width: calc(100% - 22vw - 20px);
  height: 35%;
  border-radius: 15px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 10px;
  padding: 20px;
}

#operHautNiv-Jointure-MS3 p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

#operHautNiv-Jointure-MS3_Contenu {
  width: 100%;
  height: calc(100% - 50px);
}

#operHautNiv-Jointure-MC1 {
  margin-top: -20px;
  border-radius: 15px;
  padding: 30px 20px 20px 20px;
  margin-right: 20px;
  width: calc((100% - 22vw - 20px)/2 - 10px - 30px);
  height: 35%;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
}

#operHautNiv-Jointure-MC1 p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#operHautNiv-Jointure-MC2 {
  margin-top: -20px;
  border-radius: 15px;
  padding: 30px 20px 20px 20px;
  margin-right: 10px;
  width: calc((100% - 22vw - 20px)/2 - 10px + 30px);
  height: 35%;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 20px;
}

#operHautNiv-Jointure-MC2 p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#operHautNiv-Jointure-MC3 {
  border-radius: 15px;
  padding: 20px;
  width: 22vw;
  height: 35%;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 10px;
}

#operHautNiv-Jointure-MC3 p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#operHautNiv-Jointure-EXE {
  width: 22vw;
  height: calc(65% - 10px);
  border-radius: 20px;
  background-color: #121212;
  background-image: linear-gradient(rgba(255,255,255,0.04), rgba(255,255,255,0.04));
  margin-bottom: 20px;
}

#operHautNiv-Jointure-EXE p {
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

#operHautNiv-Jointure-EXE_Contenu {
  width: calc(100% - 40px);
  height: calc(100% - 70px - 3.44vw);
  padding: 0 0 0 30px;
  overflow: hidden;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: white;
  letter-spacing: 0;
  line-height: 25px;
  margin: 20px;
  margin-bottom: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  background-image: url("../../../../../assets/img/Mode%20Nuit/exeIndicateur.png");
  background-repeat: no-repeat;
  background-size: 95% 25px;
  background-position: left bottom;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

#operHautNiv_Jointure_creationForm {
  position: absolute;
  z-index: 3;
  right: 30px;
  bottom: 50px;
  width: 55px;
  height: 55px;
  border-radius: 20px;
  overflow: hidden;
  transition: width 0.5s, height 0.5s;
  background-image: linear-gradient(rgba(255,255,255,0.08), rgba(255,255,255,0.08));
}

#operHautNiv_Jointure_creationForm p {
  transition: opacity 0.5s;
  opacity: 0;
  padding: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  letter-spacing: 0;
  line-height: 25px;
  color: rgba(255,255,255,0.87);
}

#operHautNiv_Jointure_creationForm input {
  transition: opacity 0.5s;
  opacity: 0;
  margin: 35px 20px;
  padding: 0;
  width: 250px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: white;
  letter-spacing: 0;
  line-height: 25px;
  color: rgba(255,255,255,0.6);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.6);
  border-radius: 0;
}

#operHautNiv_Jointure_creationForm input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#operHautNiv_Jointure_creationForm input:focus {
  outline: none;
  box-shadow: none;
}

#operHautNiv_Jointure_creationForm input::-webkit-outer-spin-button, #operHautNiv_Jointure_creationForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#operHautNiv-Jointure-LectureOper {
  width: 160px;
}

#operHautNiv-Jointure-LectureOper p {
  margin: 0;
  padding: 0;
}

#operHautNiv-Jointure-MS p:first-child {
  margin-right: 12.4vw;
}

